/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #e8f5e9; /* Light green-wash background like the image */
    line-height: 1.6;
    padding: 100px;
}

/* Main Container */
.resume-card {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background: #92bea12b;
    border-radius: 15px;
}

.header-text h1 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 5px;
    margin-left: 10px;
}

.header-text p.title {
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 20px;
    margin-left: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 5px;
}

/* Sections & Dark Labels */
h2 {
    background-color: #779080; /* Forest Green */
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    width: 100%;
}

section {
    margin-bottom: 30px;
}

.summary-box {
    background: #92bea12b;
    padding: 20px;
    border-radius: 8px;
    font-size: 0.95rem;
}

/* Two-Column Layout for Experience and Skills */
.main-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}

/* Experience Styling */
.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1rem;
    color: #1a1a1a;
    
}

ul {
    padding-left: 18px;
    font-size: 0.9rem;
    background: #92bea12b;
    border-radius: 15px;
}

ul li {
    margin-bottom: 5px;
}

/* Navigation - Floating at the top */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #565b58;
    font-weight: bold;
    margin: 0 15px;
    font-size: 0.9rem;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

footer {
    text-align: center;
    font-size: 0.75rem;
    color: #999;
    margin-top: 30px;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth; 
}

/* Contact Section */
#contact {
    margin-top: 30px;
}

#contact form {
    max-width: 400px;
}

/* Inputs & textarea */
#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
}

/* Focus effect */
#contact input:focus,
#contact textarea:focus {
    border-color: #2d3e33;
    outline: none;
}

/* Submit button */
#contact input[type="submit"] {
    background-color: #2d3e33;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Hover effect */
#contact input[type="submit"]:hover {
    background-color: #1f2b24;
}